@import '@fontsource/fira-sans/300.css';
@import '@fontsource/fira-sans/500.css';
@import '@fontsource/fira-sans/700.css';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    font-family: 'Fira Sans', sans-serif;
}
